.body{
  background-image: url(./spiderBackground.webp);
  background-size: cover;
}
.main{
  width:300px;
  height:500px;
  position: relative;
  top:220px;
  left:640px;
  display: flex;
  flex-direction: column;
  background-color: #460000;
  border-radius: 12px;
  color:white;
}
.imgSpiderman{
  height:550px;
  position: relative;
  top:-580px;
  left:770px;
  filter: drop-shadow(5px 10px 25px rgb(245, 235, 235));
}
.mainHeading{
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  margin-bottom: 40px;
}
.mainInput{
  width:240px;
  height: 25px;
  margin:0 30px 20px 30px; 
  padding:23px;
  border-radius: 8px;
  outline:none;
}
.btnLogin{
  background-color: rgb(182, 70, 70);
  color:white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  width:150px;
  margin-left:75px ;
  margin-bottom: 15px;
}
.register{
  width:300px;
  height:150px;
  background-color: rgb(205, 203, 199);
  border-radius:60% 60% 6% 6%  ;
}
.registerHeading{
  text-align: center;
  color:#460000;
  font-weight: 700;
}